<style>
    .news-card {
        box-shadow: 20px 16px 18px 0 rgba(85, 50, 50, 0.2);
        background-color: white;
        margin: 2%;
        float: left;
    }

    

    .news-card-head {}

    .news-card-body {}

    .news-card-footer {}

    .date {

        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(250, 69, 69, 0.822);


    }
    
    .date h3 {
        color: white;
        font-size: 15pt;
        margin: -1%;
        margin-bottom: 2%;
    }

    .img {
        background: url(https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80)20% 1% / cover no-repeat;

    }
    
    .footer{
        background-color: white;
        margin-top: 50%;
        box-shadow: 0 5px 30px 10px rgba($black, 0.3);
    }
    .name{
        display: inline;
        float: left;
        margin-left: 10px;
    }

    .btn-bar{
        display: inline;
        float: right;
        margin-right: 5px;
    }
    .news{
        padding-top: 10%;
    }


</style>

<div class="container">
    <div class="row">
        {{#each data}}
        <div class="news-card  col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <div class="img">
                
                <div class="news-card-head">
                    <div class="date">
                        <h3>12</h3>
                        <h3>Aug</h3>
                        <h3>2019</h3>
                    </div>
                </div>
                <div class="footer">
                    <div class="name-icon-bar">
                        <div class="name">
                            <h4>name</h4>
                        </div>
                        <div class="btn-bar">
                            <h4 class="	glyphicon glyphicon-th-list"></h4>
                        </div>
                    </div>
                    <div class="news">
                        <div class="head">
                            <h4>{{head}}</h4>
                        </div>
                        <div class="body">
                            <h5>{{body}}
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{/each}}
        

    </div>

</div>


{{!-- 
            <div class="">
                {{#each data}}
                    <div class="news-card col-xs-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="news-card-head">{{head}}</div>
                        <div class="news-card-body">{{main}}</div>
                        <div class="news-card-footer">{{footer}}</div>
                    </div>
                    <br />
                {{/each}}
            </div> --}}